nav{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;

}

nav div{
    margin-left: 30px;
}

main{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.blue{
    background-color: lightblue;
    border: none;
    width: 180px;
    height: 30px;
    cursor: pointer;
}
.white{
    border: none;
    width: 180px;
    height: 30px;
    cursor: pointer;
}
.first{
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
  }

textarea, input{
    margin-top: 20px;
    border: none;
    border-bottom: 0.5px grey solid;

}

textarea{
    height: 20px;
}

body{
    background-color: #edf2f6;
    padding: 0;
    margin: 0;
}


.card{
    background-color: white;
    height: 300px;
    width: 1100px;
    padding: 40px;

}

body {
    position: relative;
    min-height: 100vh;
  }
  
  footer {
    margin-bottom: 4px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

a{
    text-decoration: none;
    color: black;
}

.buttons{
    margin-top: 20px;
}