nav{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;

}

nav div{
    margin-left: 30px;
}

main{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

button{
    background-color: lightblue;
    border: none;
    width: 180px;
    height: 30px;
}
.first{
    display: flex;
    justify-content: space-between;
}

body{
    background-color: #edf2f6;
    padding: 0;
    margin: 0;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    height: 150px;
    width: 240px;
    margin-top: 20px;
    text-align: center;
}

body {
    position: relative;
    min-height: 100vh;
  }
  
  footer {
    margin-bottom: 4px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

a{
    text-decoration: none;
    color: black;
}